@forward "./../base/reset";
@forward "./../util/typography";
@use "./../util/index";

ul {
  list-style: none;
  text-align: center;
  li {
    display: block;
    margin: 2em;
    a {
      margin: 1em;
      color: whitesmoke;
      font-size: 1.4rem;
      transition: 0.2s all;
    }
    a:hover {
      color: orangered;
    }
  }
}

@mixin para-style($style, $size, $width, $family, $top, $center) {
  color: $style;
  font-size: $size;
  max-width: $width;
  font-family: $family;
  padding-top: $top;
  text-align: $center;
}

.para {
  @include para-style(white, 1.2rem, 780px, verdana, 2rem, center);
  margin: auto;
}

.paragraph {
  text-align: center;
  color: white;
  max-width: 780px;
  margin: auto;
  padding-top: 1em;
}

.second-para {
  @extend .paragraph;
}

.form-section {
  max-width: 780px;
  padding: 3rem;
  margin: auto;
  min-height: 10rem;
}

.form-field {
  width: 100%;
  margin-top: 1rem;
}

form {
  margin: auto;
  padding: 2rem;
  background-color: index.$form_background;
}

input {
  width: 100%;
  padding: 1rem;
  outline: none;
}

.btn {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1em;
  border-radius: 0.5em;
  border: none;
  background-color: orange;
}

button {
  @extend .btn;
}

.menu_toggle span {
  font-size: 28px;
  cursor: pointer;
  color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 250px;
  background-color: rebeccapurple;
  right: -250px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 0.5s all;
}

.active .menu {
  right: 0px;
}

.menu ul li {
  margin-bottom: 3rem;
}

.menu ul li a {
  font-size: 20px;
}

.close_menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
